:root {
  --circle-border: 10px;
  --clr-accent-100: hsl(0, 0%, 100%);
  --clr-accent-300: hsl(212, 45%, 89%);
  --clr-accent-500: hsl(216, 15%, 48%);
  --clr-accent-900: hsl(218, 44%, 22%);
}

body {
  font-size: 15px;
  background-color: var(--clr-accent-300);
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

body * {
  box-sizing: border-box;
}

body img {
  max-width: 100%;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 400px;
  padding: 1rem;
  background-color: var(--clr-accent-100);
  border-radius: var(--circle-border);
  text-align: center;
  margin-inline: auto;
}

.card-image {
  border-radius: var(--circle-border);
}

.card-content {
  padding: 1rem;
}

.card-title {
  font-size: 1.75rem;
  color: var(--clr-accent-900);
  font-weight: 700;
}

.card-description {
  color: var(--clr-accent-500);
  font-weight: 400;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
